In [15]:
import pandas as pd

In [16]:
world_bank_data = pd.read_csv('resources/API_SP.POP.TOTL_DS2_en_csv_v2_56.csv', skiprows=4)
world_bank_data = world_bank_data.drop(world_bank_data.columns[-1], axis=1)
iso3166 = pd.read_csv('resources/iso-3166.csv')

In [17]:
# get row where alpha-3 code is 'TWN'
iso3166[iso3166['alpha-3'] == 'ATA']

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# iso3166 has a 'sub-region' and 'alpha-3' columns. make a dictionary of {'sub-region': ['alpha-3', ...]} pairs
subregion_to_alpha3 = {}
# don't use iterrows() because it's slow
for i in range(len(iso3166)):
    row = iso3166.iloc[i]
    subregion = row['sub-region']
    alpha3 = row['alpha-3']
    name = row['name']
    if subregion not in subregion_to_alpha3:
        subregion_to_alpha3[subregion] = []
    subregion_to_alpha3[subregion].append((alpha3, name))

In [20]:
# iso3166 and world_bank_data have alpha3 codes in common
# get rows from world_bank_data that have alpha3 codes in iso3166
world_bank_data_trimmed = world_bank_data[world_bank_data['Country Code'].isin(iso3166['alpha-3'])]
world_bank_data_removed = world_bank_data[~world_bank_data['Country Code'].isin(iso3166['alpha-3'])]

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Index: []

[0 rows x 68 columns]